@model IEnumerable<VH.Services.DTOs.EmpleadoResponseDto>

@{
    ViewData["Title"] = "Catálogo de Empleados EPP";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Empleado</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.ApellidoPaterno)</th>
            <th>@Html.DisplayNameFor(model => model.NumeroNomina)</th>
            <th>@Html.DisplayNameFor(model => model.Puesto)</th>
            <th>Proyecto</th>
            <th>@Html.DisplayNameFor(model => model.Activo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.ApellidoPaterno)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroNomina)</td>
                <td>@Html.DisplayFor(modelItem => item.Puesto)</td>
               @*  <td>@Html.DisplayFor(modelItem => item.Proyecto.Nombre)</td> *@
                <td>@(item.Activo ? "Sí" : "No")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEmpleado">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEmpleado">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>